name: Truba

on:
  push:
    branches:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: |
          cd scripts/build-domains
          chmod +x ../../bin/build-domains
          ../../bin/build-domains

      - name: Создать / обновить GitHub Release
        uses: softprops/action-gh-release@v2

        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          fail_on_unmatched_files: false

          body: |
            ${{ github.event.head_commit.message }}

            SHA:: ${{ github.sha }}
            TAG: ${{ github.ref_name }}

          files: |
            ./scripts/build-domains/dist/*.dat
